* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.irish-grover-regular {
  font-family: "Irish Grover", system-ui;
  font-weight: 400;
  font-style: normal;
} 

:root {
  --yellow: #ffbf0097;
  --yellow-200: #F1D788;
  --text: #46454B;
}
body {
  font-family: "Inter", sans-serif;
}
.header-nav {
  background-color: var(--yellow);
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.brand-logo {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: #EFEFEF;
  border: 2px solid #2B2417;
  display: grid;
  place-items: center;
}
.brand {
  display: flex;
  align-items: center;
  gap: 0.9rem;
  color: #2B2417;
}
.brand-name {
  font-family: "Irish Grover", sans-serif;
  font-size: 50px;
  color: var(--text);
}
.main-nav ul {
  display: flex;
  gap: 2rem;
  font-size: 25px;
  color: var(--text);
  list-style: none;
}
a {
  color: inherit;
  text-decoration: none;
}
.container-search {
display: flex;
align-items: center;
justify-content: center;
}
.search {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  background: #fff;
  padding: 0.35rem 0.5rem 0.35rem 0.9rem;
  border: 1px solid black;
}
.search input {
  border: none;
  font: inherit;
}
.icon-btn {
  background: transparent;
  border: none;
  cursor: pointer;
}

body {
    background-color: #f7f7f7; 
    font-family: Arial, sans-serif;
    display: flex; 
    flex-direction: column;
    min-height: 70vh;
}

.form-container {
    margin: 50px auto; 
    width: 90%;
    max-width: 450px; 
    background-color: #fff; 
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    padding: 0; 
    flex-grow: 1; 
}

.form-subheader {
    background-color: #f7e07e; 
    color: #333;
    padding: 15px 20px;
    text-align: center;
    font-size: 1.2em;
    font-weight: bold;
    border-radius: 8px 8px 0 0;
    margin-bottom: 20px;
}

.form-subheader p {
    margin: 0;
}

.contact-form {
    padding: 0 30px 0px 30px; 
}

.field-group {
    margin-bottom: 15px;
}

.field-group label {
    display: block;
    font-weight: bold;
    color: #555;
    margin-bottom: 5px;
}

.field-group input[type="text"],
.field-group input[type="email"],
.field-group textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    font-style: italic; 
    color: #666;
    resize: vertical; 
}

.send-button {
    background-color: #f7e07e; 
    color: #333;
    border: none;
    width: 100%;
    padding: 12px;
    font-size: 1.1em;
    font-weight: bold;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 15px;
    margin-bottom: -20px; 
    transition: background-color 0.3s;
}

.send-button:hover {
    background-color: #e0cc73; 
}

.footer {
  text-align: center;
  padding: 20px;
  background-color: #F2F2F2;
  margin-top: auto; 
  display: flex; 
  justify-content: center; 
  align-items: center; 
  flex-wrap: wrap; 
}

.politicas {
    display: flex;
    justify-content: center; 
    align-items: center;
    gap: 10px; 
    flex-basis: 100%; 
    order: 2; 
    margin-top: 10px; 
}

.instagram {
  width: 30px; 
  height: 30px; 
  order: 1; 
  margin: 0 10px; 
}

.footer a {
    color: #555;
    text-decoration: underline;
}

.footer a:hover {
    color: #333;
}