body {
    background-color: #f6f1f1;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}

.main-header {
    background-color: #F8B400;
    padding: 10px 30px;
    width: 100%;
}

.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
}


.logo-container {
    display: flex;
    align-items: center;
    font-size: 1.2em;
    font-weight: bold;
    color: #333;
    gap: 8px;
}

.logo-patito {
    width: 35px;
    height: 35px;
}

.main-nav a {
    color: #333;
    text-decoration: none;
    margin-left: 25px;
    font-size: 1em;
}

.search-form {
    display: flex;
    border: 1px solid #ccc9c9;
    border-radius: 4px;
    overflow: hidden;
    background-color: white;
}

.search-form input[type="text"] {
    border: none;
    padding: 5px 10px;
    width: 150px;
    font-size: 0.9em;
    outline: none;
}

.search-form button {
    background-color: #F0F0F0;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    font-size: 0.9em;
}


.form-container {
    background-color: white;
    width: 90%;
    max-width: 800px;
    margin: 50px auto;
    border-radius: 8px;
}


.form-subheader {
    background-color: #FFC000;
    padding: 20px;
    text-align: center;
    font-weight: bold;
    color: #333;
}

.form-subheader p {
    margin: 10;
}

.registro-form {
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 0.9em;
    color: #555;
}

input[type="text"],
input[type="tel"],
input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 1em;
}

.field-group {
    display: grid;
    gap: 20px;
}

.three-cols {
    grid-template-columns: repeat(3, 1fr);
}

.two-cols {
    grid-template-columns: repeat(2, 1fr);
}

.one-col {
    grid-template-columns: 1fr;
}

.checkbox-group {
    display: flex;
    align-items: center;
    gap: 10px;
}

.register-button {
    background-color: #F8B400;
    color: #333;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    font-weight: bold;
    margin-top: 10px;
}

.register-button:hover {
    background-color: #D19F00;
}

.politicas {
    text-align: center;
    font-size: 0.85em;
    margin-top: 10px;
}

.politicas a {
    color: #555;
    text-decoration: none;
    margin: 0 5px;
}