:root {
    --yellow: #ffbf0097;
    --yellow-200: #F1D788;
    --text: #46454B;
    --dark: #2B2417;
}

.irish-grover-regular {
    font-family: "Irish Grover", system-ui;
    font-weight: 400;
    font-style: normal;
}


body {
    background-color: #f6f1f1;
    font-family: "Inter", sans-serif;
    margin: 0;
    padding: 0;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}

a {
    color: inherit;
    text-decoration: none;
}

.form-container {
    background-color: white;
    width: 90%;
    max-width: 800px;
    margin: 50px auto;
    border-radius: 8px;
}

.form-subheader {
    background-color: var(--yellow);
    padding: 20px;
    text-align: center;
    font-weight: bold;
    color: #333;
}

.form-subheader p {
    margin: 0;
}

.registro-form {
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 0.9em;
    color: #555;
}

input[type="text"],
input[type="tel"],
input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 1em;
}

.field-group {
    display: grid;
    gap: 20px;
}

.three-cols {
    grid-template-columns: repeat(3, 1fr);
}

.two-cols {
    grid-template-columns: repeat(2, 1fr);
}

.one-col {
    grid-template-columns: 1fr;
}

.checkbox-group {
    display: flex;
    align-items: center;
    gap: 10px;
}

.register-button {
    background-color: var(--yellow);
    color: #333;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    font-weight: bold;
    margin-top: 10px;
    font-size: 15px;
}

.register-button:hover {
    background-color: var(--yellow);
}

.instagram {
  width: 20px;
  height: 20px;
  float:right;
}

.footer {
  text-align: center;
  padding: 20px;
  background-color: #F2F2F2;
}