:root {
  --yellow: #ffbf0097;
  --yellow-200: #F1D788;
  --text: #46454B;
}
.sectionmadredecajamadre {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin-top: 55px;
    padding: 0 20px;
}
.cajamadre{
  background-color: var(--yellow-200);
  width: 300px;
  text-align: center;
  border: 1px solid #0a0a0a;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: helvetica, sans-serif;
  padding: 20px;
}
.cajamadre a{
  margin-top: 10px;
}
.imagencaja {
  width: 100%;
  height: auto;
  max-width: 250px;
  object-fit: contain;
}
.parrafo {
  margin: 15px 0;
  font-size: 16px;
}
.carrito {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  background-color: var(--text);
  color: white;
  border: none;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.carrito:hover {
    background-color: #2B2417;
}
.no-results {
    font-size: 1.5em;
    color: #888;
    margin: 50px 0;
    width: 100%;
    text-align: center;
}